

.container{
position:absolute; 
margin: auto;
top:0;
left:0;
right: 0;
bottom: 0;
width:30%;
height:60%;
text-align:center;
background-color: #DCD3F5;
}

#chatboxDiv{
	border:1px solid #ccc;
	height:50%;
	overflow: auto;
	text-align: left;
	background-color: #fff;
}

#chatboxDetailsDiv{
	background-color:#AB8BFC;
}

#usertext{
	width:80%;
}




