
<div class="chatDiv" ng-controller="chatCtrl" ng-init="init()">
<h2>
Cicci Messenger
</h2>

<div id="chatboxDiv">
  	
  		<p ng-repeat="message in messages">
  			<b>{{message.name}}</b> : {{message.text}}
  		</p>
 
 </div>
 <div id="chatboxDetailsDiv">
   <p id="Namelabel">Hi! <b>{{username}}</b></p>
   <p id="Roomlabel">Welcome to <b>{{room}}</b> Chatroom</p>
 	</div>
 <div> <input type="text" id="usertext" ng-model="usertext" > <button id="sendBtn" class="btn btn-primary" ng-click="send()">Send</button></div>
</div>
 
 