<form ng-controller="loginCtrl" name="loginForm">
<h2>
Cicci Messenger Log-in
</h2>
<p>Name:<input type="text" ng-model="username" id="username" name="username" ng-pattern="/^[a-zA-Z0-9]*$/" required></p>
<span style="color:red" ng-show="loginForm.username.$invalid">
   <span  ng-show="loginForm.username.$error.required">Name is required.</span>
   <span ng-show="loginForm.username.$error.pattern">Invalid Username. Must be Alphanumeric only</span>
   </span>
  <p>Room:<input type="text" ng-model="room" id="room" name="room" ng-pattern='/^[a-zA-Z]*$/' required></p>
   <span style="color:red" ng-show="loginForm.room.$invalid">
   <span ng-show="loginForm.room.$error.required">Room name is required.</span>
   <span ng-show="loginForm.room.$error.pattern">Invalid Room name. Must be Alphabets only</span>
  </span><br>
  <a href="#/chat/{{room}}" class="btn btn-primary" ng-click="ok()" ng-disabled="loginForm.$invalid">OK</a>
</form>

